*{
  box-sizing: border-box;
}
html{
  margin:0;
}
body{
  margin: 0;
  background: rgb(2,0,36);
 /* background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgb(21, 33, 78) 100%);*/
  color:white;
  font-family: 'Fjalla One', sans-serif;
}
:root{
--fnt-light:300;
--fnt-medium:400;
--fnt-bold:500;
--fnt-carbon:#4B4B4B;
--fnt-plata:#C4C4C4;
--fnt-cian:#D1F5FF;
--fnt-azul:#1422af;
--fnt-azul-oscuro:#0F084B;
}